.about-page {
  .about-card {
    border: 2px solid #e56765;
    border-radius: 20px;
    .about-card-body {
      padding: 40px;
      @media screen and (max-width: 425px) {
        padding: 15px 10px;
      }
    }
    .about__list {
      position: absolute;
      right: 30px;
      top: -30px;
      width: 45%;
      border-radius: 0.25rem;
      .about__list-item {
        box-shadow: 3px 3px 7px -3px rgba(0,0,0,0.5);
        &:first-child {
          background-color: #e56665;
          border-color: #e56765;
        }
        .about__list-title {
          text-transform: uppercase;
          font-size: 22px;
          font-weight: 900;
        }
      }
      @media screen and (max-width: 425px) {
        width: 100%;
        position: static;
        border-radius: 20px;
        overflow: hidden;
      }
    }
  }
  @media screen and (max-width: 425px) {
    .about-img-holder {
      padding-right: 0 !important;
    }
  }
}
